In [ ]:
!pip install requests
!pip install pandas

In [29]:
import requests
from time import sleep
import pandas as pd

In [19]:
pair = "SFX_BTC"
r = requests.get(f"https://app.xcalibra.com/api/public/v1/price-history/{pair}")

In [32]:
df = pd.DataFrame(r.json())

In [35]:
df.head()

,open,high,low,close,count,volume,quantity,timestamp
0,0.000001,0.000001,0.000001,0.000001,0,0,0,2020-05-13T18:08:00.000Z
1,0.000001,0.000001,0.000001,0.000001,0,0,0,2020-05-13T18:09:00.000Z
2,0.000001,0.000001,0.000001,0.000001,0,0,0,2020-05-13T18:10:00.000Z
3,0.000001,0.000001,0.000001,0.000001,0,0,0,2020-05-13T18:11:00.000Z
4,0.000001,0.000001,0.000001,0.000001,0,0,0,2020-05-13T18:12:00.000Z

In [34]:
df.describe()

               open          high           low         close       count
count  1.000000e+02  1.000000e+02  1.000000e+02  1.000000e+02  100.000000
mean   1.330500e-06  1.330500e-06  1.330500e-06  1.330500e-06    0.110000
std    2.190429e-09  2.190429e-09  2.190429e-09  2.190429e-09    0.345096
min    1.330000e-06  1.330000e-06  1.330000e-06  1.330000e-06    0.000000
25%    1.330000e-06  1.330000e-06  1.330000e-06  1.330000e-06    0.000000
50%    1.330000e-06  1.330000e-06  1.330000e-06  1.330000e-06    0.000000
75%    1.330000e-06  1.330000e-06  1.330000e-06  1.330000e-06    0.000000
max    1.340000e-06  1.340000e-06  1.340000e-06  1.340000e-06    2.000000